<h1>Inventory for company #001727</h1>
<div class='mainContainer'>  
  <div class='tableContainer'>
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>SERIAL</th>
          <th>EMAIL</th>
          <th>COUNTRY</th>
          <th>ASSET_SERIAL</th>
          <th>ASSET_TYPE</th>
          <th>EXPIRATION_DATE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% @owners.each do |owner| %>
          <tr>
            <td><%= owner.name %></td>
            <td><%= owner.serial %></td>
            <td><%= owner.email %></td>
            <td><%= owner.country %></td>
            <td><%= owner.asset_serial %></td>
            <td class='assetType'>
              <% if owner.asset_type.eql?('Desktop') %>
                <i title='Desktop' class="fa-solid fa-computer fa-xl"></i>
              <% end %>
              <% if owner.asset_type.eql?('Laptop') %>
                <i title='Laptop' class="fa-solid fa-laptop fa-xl"></i>
              <% end %>
              <% if owner.asset_type.eql?('Mac') %>
                <i title='MacBook' class="fa-brands fa-apple fa-xl"></i>
              <% end %>
            </td>
            <td><%= owner.expiration_date %></td>
            <td> <%= render partial: 'buttons', :locals => {:owner => owner} %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
