<div class='main-container'>
  <h1>Inventory for company #001727</h1>
  <div class='top-action-bar'>
    <%= button_to new_owner_path, method: :get, class: 'add-new-btn' do %>
      <i title='Add new owner' class="fa-solid fa-plus mr-1"></i><span>Add New Owner</span>
    <% end %>
  </div>
  <div class='table-container'>
    <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>SERIAL</th>
          <th>EMAIL</th>
          <th>COUNTRY</th>
          <th>ASSET_SERIAL</th>
          <th>ASSET_TYPE</th>
          <th>EXPIRATION_DATE</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% @owners.each do |owner| %>
          <tr>
            <td><%= owner.name %></td>
            <td><%= owner.serial %></td>
            <td><%= owner.email %></td>
            <td><%= owner.country %></td>
            <td><%= owner.asset_serial %></td>
            <td>
              <%= render partial: 'asset-types', :locals => {:asset_type => owner.asset_type} %>
            </td>
            <td><%= owner.expiration_date %></td>
            <td> <%= render partial: 'buttons', :locals => {:owner => owner} %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
